* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-weight: bold;
    white-space: nowrap;
}

#table-main {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#table-main thead tr {
    height: 8vh;
    font-size: 4.4vh;
}

#table-main tr td {
    padding: 0 1%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#table-main tbody tr td:first-child img {
    max-width: 100%;
    max-height: 90%;
    display: block;
    margin: 0 auto;
}

.td-empty {
    width: 0;
    padding: 0 !important;
}

.td-align-center {
    text-align: center;
}

.td-align-right-padding-3 {
    text-align: right;
    padding-right: 3% !important;
}

.td-padding-left-3 {
    padding-left: 3% !important;
}

.row-10 {
    width: 10%;
}

.row-15 {
    width: 15%;
}

.row-24 {
    width: 24%;
}

.row-26 {
    width: 26%;
}

.row-27-5 {
    width: 27.5%;
}
