* {
    padding: 0;
    margin: 0;
}

body {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
}

#table-main {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#table-main thead tr {
    font-size: 150%;
    height: 8vh;
    background-color: #36304a;
}

#table-main tr td {
    padding: 0 1%;
}

#table-main .tr-content td {
    font-size: 135%;
}

.tr-content td:first-child img {
    margin: 0.6vh auto;
    height: 8vh;
    display: block;
}

#table-main tr .td-align-center {
    text-align: center;
}

#table-main tr .td-align-right-padding-3 {
    text-align: right;
    padding-right: 3%;
}

.row-10 {
    width: 10%;
}

.row-15 {
    width: 15%;
}

.row-24 {
    width: 24%;
}

.row-26 {
    width: 26%;
}
