<script type="text/javascript">
    function departuremonitor_form_edit_open() {

        formHelpers.setupCheckboxInputFields($(this).find('form'), '#useDuration', '.duration-fields');

        $(this).find("#theadBackgroundColor").colorpicker({format: 'rgba'});
        $(this).find("#theadFontColor").colorpicker({format: 'rgba'});
        $(this).find("#tbodyFontColor").colorpicker({format: 'rgba'});
        $(this).find("#tbodyBackgroundColor").colorpicker({format: 'rgba'});
        $(this).find("#tbodySecondBackgroundColor").colorpicker({format: 'rgba'});

        var bodyFont = $(this).find("#bodyFont");
        $.ajax({
            method: "GET",
            url: bodyFont.data('searchUrl'),
            success: function (res) {
                if (res.success) {
                    $.each(res.data, function (index, element) {
                        if (bodyFont.data('value') === element.familyName) {
                            bodyFont.append($('<option value="' + element.familyName + '" selected>' + element.displayName + '</option>'));
                        } else {
                            bodyFont.append($('<option value="' + element.familyName + '">' + element.displayName + '</option>'));
                        }
                    });
                }
            }
        });
    }
</script>
