<script type="text/javascript">
    function departuremonitor_form_edit_open() {

        setupCheckboxFields($(this).find('form'), '#useDuration', '.duration-fields');
        setupCheckboxFields($(this).find('form'), '#hideHeader', '', '.header-fields');
        setupCheckboxFields($(this).find('form'), '#hideIcons', '', '.icon-fields');

        $(this).find("#theadBackgroundColor").colorpicker({format: 'rgba'});
        $(this).find("#theadFontColor").colorpicker({format: 'rgba'});
        $(this).find("#tbodyFontColor").colorpicker({format: 'rgba'});
        $(this).find("#tbodyBackgroundColor").colorpicker({format: 'rgba'});
        $(this).find("#tbodySecondBackgroundColor").colorpicker({format: 'rgba'});

        var bodyFont = $(this).find("#bodyFont");
        var headFont = $(this).find("#headFont");
        $.ajax({
            method: "GET",
            url: bodyFont.data('searchUrl'),
            success: function (res) {
                if (res.success) {
                    $.each(res.data, function (index, element) {
                        if (headFont.data('value') === element.familyName) {
                            headFont.append($('<option value="' + element.familyName + '" selected>' + element.displayName + '</option>'));
                            return;
                        }

                        if (bodyFont.data('value') === element.familyName) {
                            bodyFont.append($('<option value="' + element.familyName + '" selected>' + element.displayName + '</option>'));
                            return;
                        }

                        headFont.append($('<option value="' + element.familyName + '">' + element.displayName + '</option>'));
                        bodyFont.append($('<option value="' + element.familyName + '">' + element.displayName + '</option>'));
                    });
                }
            }
        });
    }

    function setupCheckboxFields(form, checkBoxSelector, inputFieldsSelector, inputFieldsSelectorOpposite) {
        const checkboxObj = $(form).find(checkBoxSelector);
        const inputFieldsObj = $(form).find(inputFieldsSelector);
        const inputFieldsObjOpposite = $(form).find(inputFieldsSelectorOpposite);

        function displayInputFields() {
            // Init
            if(checkboxObj.is(':checked') === false) {
                inputFieldsObj.css('display', 'none');
                inputFieldsObjOpposite.css('display', 'block');
            } else if(checkboxObj.is(':checked') === true) {
                inputFieldsObj.css('display', 'block');
                inputFieldsObjOpposite.css('display', 'none');
            }
        }

        // Init
        displayInputFields();

        // Change
        checkboxObj.on('change', displayInputFields);
    }
</script>
