<script type="text/javascript">
    function departuremonitor_form_edit_open(dialog) {
        var form = $(dialog).find('form');
        setupCheckboxFields(form, '#useDuration', '.duration-fields');
        setupCheckboxFields(form, '#hideHeader', '', '.header-fields');
        setupCheckboxFields(form, '#hideIcons', '', '.icon-fields');
        setupCheckboxFields(form, '#disableAnimation', '', '.animation-fields');

        var options = {format: 'rgba'};
        $(dialog).find("#theadBackgroundColor").colorpicker(options);
        $(dialog).find("#theadFontColor").colorpicker(options);
        $(dialog).find("#tbodyFontColor").colorpicker(options);
        $(dialog).find("#tbodyOddBackgroundColor").colorpicker(options);
        $(dialog).find("#tbodyEvenBackgroundColor").colorpicker(options);

        var bodyFont = $(dialog).find("#tbodyFont");
        var headFont = $(dialog).find("#theadFont");
        $.ajax({
            method: "GET",
            url: bodyFont.data('searchUrl'),
            success: function (res) {
                var regex = /font-family: '(.+)'/g;

                var matches;
                var data = [];
                while (matches = regex.exec(res)) {
                    var value = matches[1];
                    data.push({displayName: titleCase(value), familyName: value});
                }
                if (res) {
                    $.each(data, function (index, element) {
                        if (headFont.data('value') === element.familyName) {
                            headFont.append($('<option value="' + element.familyName + '" selected>' + element.displayName + '</option>'));
                            bodyFont.append($('<option value="' + element.familyName + '">' + element.displayName + '</option>'));
                        } else if (bodyFont.data('value') === element.familyName) {
                            bodyFont.append($('<option value="' + element.familyName + '" selected>' + element.displayName + '</option>'));
                            headFont.append($('<option value="' + element.familyName + '">' + element.displayName + '</option>'));
                        } else {
                            headFont.append($('<option value="' + element.familyName + '">' + element.displayName + '</option>'));
                            bodyFont.append($('<option value="' + element.familyName + '">' + element.displayName + '</option>'));
                        }
                    });
                }
            }
        });
    }

    function setupCheckboxFields(form, checkBoxSelector, inputFieldsSelector, inputFieldsSelectorOpposite) {
        const checkboxObj = $(form).find(checkBoxSelector);
        const inputFieldsObj = $(form).find(inputFieldsSelector);
        const inputFieldsObjOpposite = $(form).find(inputFieldsSelectorOpposite);

        function displayInputFields() {
            // Init
            if (checkboxObj.is(':checked') === false) {
                inputFieldsObj.css('display', 'none');
                inputFieldsObjOpposite.css('display', 'block');
            } else if (checkboxObj.is(':checked') === true) {
                inputFieldsObj.css('display', 'block');
                inputFieldsObjOpposite.css('display', 'none');
            }
        }

        // Init
        displayInputFields();

        // Change
        checkboxObj.on('change', displayInputFields);
    }

    function titleCase(str) {
        var splitStr = str.toLowerCase().split(' ');
        for (var i = 0; i < splitStr.length; i++) {
            splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(' ');
    }

</script>
